@model PaginationViewModel

<div style="margin-top: 10px;">
    @if (Model.CurrentPage > 1)
    {
        <a href="@Model.BaseUrl?page=@(Model.CurrentPage - 1)">Previous</a>
        <span> | </span>
    }
    <span>Page @Model.CurrentPage</span>
    @if (Model.CheepCount == 32)
    {
        <span> | </span>
        <a href="@Model.BaseUrl?page=@(Model.CurrentPage + 1)">Next</a>
    }
</div>
